<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="scripts/vue.global.js"></script>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="dodajStudenta()" action="">
            <label>Ime: <input v-model="noviStudent.ime" type="text" required></label>
            <label>Prezime: <input v-model="noviStudent.prezime" type="text" required></label>
            <label>Godina upisa: <input v-model="noviStudent.godinaUpisa" type="number" min="2000" required></label>
            <label>Smer:
                <select v-model="noviStudent.smer" required>
                    <option v-for="smer in smerovi" :value="smer">{{smer.naziv}}</option>
                </select>
            </label>
            <label>Prosečna ocena: <input  v-model="noviStudent.prosecnaOcena" type="number" min="5" max="10" step="0.01" required></label>

            <button v-if="noviStudent.indeks != undefined" type="submit">Izmeni</button>
            <button v-if="noviStudent.indeks != undefined" type="reset" @click="ponistiFormu()">Odustani</button>
            <button v-else type="submit">Dodaj</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>Godina upisa</th>
                    <th>Smer</th>
                    <th>Prosečna ocena</th>
                    <th>Akcije</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(student, i) in studenti">
                    <td>{{student.ime}}</td>
                    <td>{{student.prezime}}</td>
                    <td>{{student.godinaUpisa}}</td>
                    <td>{{student.smer.sifra}} - {{student.smer.naziv}}</td>
                    <td>{{student.prosecnaOcena}}</td>
                    <td>
                        <button @click="ukloniStudenta(i)">Ukloni</button>
                        <button @click="postaviZaIzmenu(i)">Izmeni</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        const { createApp } = Vue

        createApp(
            {
                data() {
                    return {
                        noviStudent: {},
                        smerovi: [
                            {
                                "sifra": "SII",
                                naziv: "Softversko i informaciono inzenjerstvo",
                            },
                            {
                                "sifra": "IT",
                                naziv: "Informacione tehnologije",
                            }
                        ],
                        studenti: [
                            {
                                "ime": undefined,
                                "prezime": "Petrovic",
                                "godinaUpisa": 2012,
                                "smer": {
                                    "sifra": "SII",
                                    naziv: "Softversko i informaciono inzenjerstvo",
                                },
                                "prosecnaOcena": 8.2
                            },
                            {
                                "ime": "Marko",
                                "prezime": "Markovic",
                                "godinaUpisa": 2022,
                                "smer": {
                                    "sifra": "SII",
                                    naziv: "Softversko i informaciono inzenjerstvo",
                                },
                                "prosecnaOcena": 9.2
                            }
                        ]
                    }
                },
                methods: {
                    izmeniTekst() {
                        this.message = "Test";
                    },
                    dodajStudenta() {
                        let student = {...this.noviStudent}
                        delete student["indeks"]
                        if(this.noviStudent.indeks != undefined) {
                            this.studenti[this.noviStudent.indeks] = student;
                            this.noviStudent = {};
                        } else {
                            this.studenti.push(student);
                        }
                        
                    },
                    ukloniStudenta(indeks) {
                        this.studenti.splice(indeks, 1);
                    },
                    postaviZaIzmenu(indeks) {
                        this.noviStudent = {...this.studenti[indeks], indeks: indeks};
                    },
                    ponistiFormu() {
                        this.noviStudent = {};
                    }
                }
            }
        ).mount('#app')
    </script>
</body>

</html>